<div class ="row">
<a href="/movies/" class="button">Movies</a>
<div class="panel">
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1">Billa 2</a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Stills</a></dd>
        <dd><a href="#panel2-2">Trailers</a></dd>
        <dd><a href="#panel2-3">Songs</a></dd>
        <dd><a href="#panel2-4">Movie Details</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>
          <ul class="small-block-grid-2">
           <img src="/images/billa2/1.jpeg"  />
	   <img src="/images/billa2/2.jpeg"  />
	   <img src="/images/billa2/3.jpeg"  /> <br>
	   <img src="/images/billa2/4.jpeg"  />
	   <img src="/images/billa2/5.jpeg" />
	   <img src="/images/billa2/7.jpeg"  />
	   <img src="/images/billa2/6.JPG"  />
	  </ul>	
          </p>
	 </div>
        <div class="content" id="panel2-2">
           <div class="flex-video">
          <video width="380" height="220" controls="controls" preload="preload">
            <source src="/videos/BILLA 2 DIALOGUE PROMO ONE (10 sec).mp4" type="video/mp4; codecs="avc1.42E01E, mp4a.40.2"">
          </video>
          </div>  </div>
        <div class="content" id="panel2-3">
          
<br>
<h3 align= "center">Songs of Billa 2</h3>
<br> &nbsp &nbsp <p> -Music: Yuvan Shankar Raja </p>
<p>		
01 - Gangster - Yuvan Shankar Raja and Stefny <br>
02 - Idhayam - Shweta Pandit <br>
03 - Yedho Mayakkam - Yuvan Shankar Raja, Tanvi Shah and Suvi Suresh<br>
04 - Madurai Ponnu - Andrea Jeremiah<br>
05 - Unakkulle Mirugam - Ranjith<br>
06 - Theme Music - Yuvan Shankar Raja          <br>
</p>	</div>

	   
        <div class="content" id="panel2-4">
          <br>
<p>
Direction: Chakri Toleti <br>
Music: Yuvan Shankar Raja <br>
  <h3 align = "left">Cast  </h3>   
<b>Ajith Kumar</b> as		 David Billa <br>
<b>Parvathy Omanakuttan</b> as   Jasmine <br>
<b>Bruna Abdullah</b> as 	 Sameera <br>
<b>Sudhanshu Pandey</b> as 	 Abbasi<br>
<b>Vidyut Jamwal</b> as 	 Demitri  <br>
</p>  </div>
      </div>
    </div>
  </dd>

<dl class="accordion" data-accordion>
 
  <dd class="accordion-navigation">
    <a href="#panel2">Velai illa pattathari</a>
    <div id="panel2" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel3-1">Stills</a></dd>
        <dd><a href="#panel3-2">Trailers</a></dd>
        <dd><a href="#panel3-3">Songs</a></dd>
        <dd><a href="#panel3-4">Movie Details</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel3-1">
          <p>
          <ul class="small-block-grid-2">
           <img src="/images/vip/1.jpeg"  />
	   <img src="/images/vip/2.jpeg"  />
	   <img src="/images/vip/3.jpeg"  /> <br>
	   <img src="/images/vip/4.jpeg"  />
	   <img src="/images/vip/5.jpeg" />
	   <img src="/images/vip/6.jpeg"  />
	     </ul>	
          </p>
	 </div>
        <div class="content" id="panel3-2">
           <div class="flex-video">
          <video width="380" height="220" controls="controls" preload="preload">
            <source src="/videos/VIP Trailer Exclusive.mp4" type="video/mp4; codecs="avc1.42E01E, mp4a.40.2"">
          </video>
          </div>  </div>
        <div class="content" id="panel3-3">
          
<br>
<h3 align= "center">Songs of VIP</h3>
<br> &nbsp &nbsp <p> -Music: Anirudh </p>
<p>		
01 - Velai Illa Pattadhaari - Anirudh <br>
02 - What A Karavad - Dhanush , Anirudh  <br>
03 - Amma Amma - Dhanush , S.Janaki <br>
04 - Ey Inga Paaaru - Anirudh <br>
05 - Udhungada Sangu - Anirudh         <br>
</p>	</div>
        <div class="content" id="panel3-4">
          <br>
<p>
Direction: Chakri Toleti <br>
Music: Yuvan Shankar Raja <br>
  <h3 align = "left">Cast  </h3>   
<b>Dhanush </b>as 	Raghuvaran <br>
<b>Amala Paul</b> as    Shalini <br>
<b>Saranya Ponvannan</b>  <br>
<b>Vivek</b> <br>
<b>Samuthirakani</b> as Krishnan  <br>
</p>  </div>
      </div>
    </div>
  </dd>
</dl>
</div>
</div>
