<div class="row">
<br>
<section class="small-8 columns">
<ul class="example-orbit" data-orbit>
  <li><br>
    <img width = 700 height =300 src="/images/billa2/1.jpeg"  />
  </li>
  <li class="active">
    <img  width = 900 height =300  src="/images/vip/1.jpeg" />
  </li>
  <li>
    <img  width = 700 height =300 src="/images/billa2/2.jpeg"  />
  </li>
   <li>
    <img  width = 900 height =300 src="/images/vip/2.jpeg"  />
  </li>
</ul>
</section>

<%= render 'home/panel1' %>

</div>
