<section class="small-4 columns">
<div class ="panel">
<ul class="side-nav">
<h2> New Movies </h2>
  <li><a href="">Saivam</a></li>
  <li><a href="http://www.imdb.com/title/tt3681442/?ref_=nv_sr_4">Mundasupatti</a></li>
  <li><a href="http://www.imdb.com/title/tt3681454/?ref_=nv_sr_1">Vadacurry</a></li>
  <li><a href="http://www.imdb.com/title/tt3039362/?ref_=nv_sr_1">Manjapai</a></li>
  <li><a href="http://www.imdb.com/title/tt3681440/?ref_=fn_al_tt_3">Yamiruka Bayamen</a></li>
  <li class ="divider"></li>
  <li><a href="#">See more titles >> </a></li>
<li class ="divider"></li>
<h2> Coming Soon </h2>
  <li><a href="http://www.nowrunning.com/movie/12625/tamil/vai-raja-vai/index.htm">Vai Raja Vei</a></li>
  <li><a href="http://singamda.in/site_salim.xhtml">Salim</a></li>
  <li><a href="http://singamda.in/site_jigarthanda.xhtml">Jigarthanda</a></li>
  <li><a href="http://singamda.in/site_arimanambi.xhtml">Arima Nambi</a></li>  
  <li class ="divider"></li>
  <li><a href="#">See more titles >> </a></li>
</ul>
</div>
</section>
