<div class = "row">
<% if notice %>
  <p data-alert class="alert-box success radius" >
  <a class="close">&times;</a>
  <%= notice %></p>
<% end %>


<% if alert %>
  <p data-alert class="alert-box alert round">
  <a class="close">&times;</a>
  <%= alert %></p>
<% end %>
</div>
